includes:
    - vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    bootstrapFiles:
        - %rootDir%/../../../vendor/autoload.php

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    universalObjectCratesClasses:
        - Contao\BackendUser

    ignoreErrors:
